{
  "env": {
    "browser": true,
    "es2021": true,
    "node": true
  },
  "extends": ["eslint:recommended", "plugin:@typescript-eslint/recommended"],
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "react",
    "react-hooks",
    "@typescript-eslint",
    "eslint-plugin-import-helpers",
    "import"
  ],
  "rules": {
    "indent-legacy": [
      "error",
      2,
      {
        "FunctionDeclaration": {
          "parameters": "first"
        },
        "ObjectExpression": "first",
        "ArrayExpression": "first",
        "CallExpression": {
          "arguments": "first"
        }
      }
    ],
    "no-prototype-builtins": 0,
    "no-return-await": 2,
    "camelcase": 0,
    "no-underscore-dangle": 0,
    "class-methods-use-this": 1,
    "no-unused-vars": 1,
    "complexity": ["error", 4],
    "max-len": [
      "error",
      {
        "code": 120,
        "ignoreComments": true
      }
    ],
    "no-console": ["error", { "allow": ["error", "log"] }],
    "no-undef": 1,
    "eqeqeq": 1,
    "function-paren-newline": ["error", "never"],
    "function-call-argument-newline": ["error", "consistent"],
    "import-helpers/order-imports": [
      "warn",
      {
        "newlinesBetween": "always",
        "groups": [
          ["/^react/"],
          ["module"],
          ["/^assets/"],
          ["/^components/"],
          ["/^contexts/"],
          ["/^helpers/"],
          ["/^interfaces/"],
          ["/^pages/"],
          ["/^services/"],
          ["/^styles/"],
          ["/^x-hooks/"],
          ["parent", "sibling", "index"]
        ],
        "alphabetize": { "order": "asc", "ignoreCase": true }
      }
    ]
  }
}
