{
  "env": {
    "browser": true,
    "es2021": true,
    "node": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:@typescript-eslint/recommended",
    "prettier"
  ],
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "react",
    "react-hooks",
    "@typescript-eslint",
    "eslint-plugin-import-helpers",
    "prettier",
    "import"
  ],
  "rules": {
    "linebreak-style": ["error", "unix"],
    "quotes": ["error", "double"],
    "react/react-in-jsx-scope": "off",
    "@typescript-eslint/no-explicit-any": ["warn"],
    "@typescript-eslint/no-var-requires": "off",
    "react/prop-types": "off",
    "prettier/prettier": "error",
    "import/prefer-default-export": "off",
    "import-helpers/order-imports": [
      "warn",
      {
        "newlinesBetween": "always",
        "groups": [
          ["/^react/"],
          ["module"],
          ["/^assets/"],
          ["/^components/"],
          ["/^contexts/"],
          ["/^helpers/"],
          ["/^interfaces/"],
          ["/^pages/"],
          ["/^services/"],
          ["/^styles/"],
          ["/^x-hooks/"],
          ["parent", "sibling", "index"]
        ],
        "alphabetize": { "order": "asc", "ignoreCase": true }
      }
    ]
  }
}
