{
  "env": {
    "browser": true,
    "es2021": true,
    "node": true
  },
  "extends": ["eslint:recommended", "plugin:@typescript-eslint/recommended"],
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "react",
    "react-hooks",
    "@typescript-eslint",
    "eslint-plugin-import-helpers",
    "import"
  ],
  "rules": {
    "indent-legacy": [
      "error",
      2,
      {
        "FunctionDeclaration": {
          "parameters": "first"
        },
        "ObjectExpression": "first",
        "ArrayExpression": "first",
        "CallExpression": {
          "arguments": "first"
        }
      }
    ],
    "no-prototype-builtins": 0,
    "no-return-await": 1,
    "camelcase": 0,
    "no-underscore-dangle": 0,
    "class-methods-use-this": 0,
    "@typescript-eslint/no-empty-function": 1,
    "@typescript-eslint/ban-ts-comment": 0,
    "no-async-promise-executor": 0,
    // "complexity": ["warn", 5],
    "max-len": [
      "warn",
      {
        "code": 120,
        "ignoreComments": true
      }
    ],
    // "@typescript-eslint/no-var-requires":["warn"],
    "no-console": ["error", { "allow": ["error", "log", "warn", "table", "debug"] }],
    "no-undef": 1,
    "eqeqeq": 1,
    "function-paren-newline": ["error", "never"],
    "function-call-argument-newline": ["error", "consistent"],
    "import-helpers/order-imports": [
      "warn",
      {
        "newlinesBetween": "always",
        "groups": [
          ["/^react/"],
          ["module"],
          ["/^assets/"],
          ["/^components/"],
          ["/^contexts/"],
          ["/^db/"],
          ["/^graphql/"],
          ["/^helpers/"],
          ["/^interfaces/"],
          ["/^middleware/"],
          ["/^pages/"],
          ["/^services/"],
          ["/^server/"],
          ["/^styles/"],
          ["/^templates/"],
          ["/^types/"],
          ["/^x-hooks/"],
          ["parent", "sibling", "index"]
        ],
        "alphabetize": { "order": "asc", "ignoreCase": true }
      }
    ]
  },
  "ignorePatterns": ["**/*.js", "**/assets/icons/*.tsx", "**/assets/*.tsx"]
}
