.CookieConsent {
  @extend .p;
  @extend .family-Regular;
  @extend .bg-gray-900;

  border-top: 1px solid $gray-850;
  font-weight: 500;
  bottom: 0px;
  align-items: baseline;
  color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  left: 0px;
  position: fixed;
  width: 100%;
  z-index: 1040;
  padding: 10px 20px;

  button {
    @extend .btn;
    @extend .btn-primary;
    
    border-radius: 4px;
    padding: 6px 7px;
  }
}