.identicon {
  &-border {
    display: flex;
    align-items: center;
    justify-content: center;

    border: 3px solid var(--bs-primary);
    
    &.md {
      border-radius: 50%;
      width: 40px;
      height: 40px;
    }

    &.lg {
      border-radius: 50%;
      width: 108px;
      height: 108px;
    }
  }
}