.filter-box {
  &:not(:last-child) {
    &,.filter-content {
      border-bottom-left-radius: 0!important;
      border-bottom-right-radius: 0!important;
    }
    .filter-content {
      border-bottom: none!important;
    }
  }
  &:not(:first-child) {
    border-top-right-radius: 0!important;
    border-top-left-radius: 0!important;
    margin-top: -2px;
  }
}
