@font-face {
  font-family: 'Space Grotesk';
  src: url('../assets/fonts/SpaceGrotesk.woff2') format('woff2'),
       url('../assets/fonts/SpaceGrotesk.ttf') format('truetype');
  font-weight: 300 700;
}

@font-face {
  font-family: 'Inter';
  src: url('../assets/fonts/Inter.woff2') format('woff2'),
       url('../assets/fonts/Inter.ttf') format('truetype');
}

@function is-important($important){
  @return #{if($important, '!important', '')};
}

.family-Regular {
  font-family: 'Space Grotesk', sans-serif;
}

body {
  font-family: 'Space Grotesk', sans-serif;
  font-feature-settings: 'tnum' on, 'lnum' on, 'ss02' on, 'ss03' on, 'ss04' on;
}

@mixin heading($important: false) {
  font-family: 'Space Grotesk', sans-serif is-important($important);
  font-weight: 700 is-important($important);
  line-height: 120% is-important($important);
  margin: 0;
}

@for $index from 1 through 4 {
  h#{$index} {
    @include heading;
  }

  .h#{$index} {
    @include heading(true);
  }
}

.caption,
.caption-small,
.caption-medium,
.caption-large {
  @include heading;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}

.caption {
  line-height: 140%;
  &-small {
    line-height: 120%;
  }
  &-medium {
    line-height: 140%;
  }
  &-large {
    line-height: 160%;
  }
}

p,
.p,
.p-small {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  line-height: 140%;
  &-bold {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    line-height: 160%;
    letter-spacing: 0.02rem;
  }
}

button,
.btn,
.small-info {
  font-family: 'Space Grotesk', sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.1rem; 
}

button,
.btn {
  line-height: 71%;
}

.small-info {
  line-height: 130%;
}

h1 {
  font-size: 54px;
}

h2 {
  font-size: 42px;
}

h3 {
  font-size: 32px;
}

.h3 {
  font-size: 32px !important;
  letter-spacing: normal !important;
}

h4 {
  font-size: 21px;
  letter-spacing: 0.01rem;
}

.h4 {
  font-size: 21px !important;
  letter-spacing: 0.01rem !important;
}

.caption-large {
  font-size: 16px;
}

p,
.p,
.caption-medium {
  font-size: 14px;
}

.caption-small,
.p-small,
.p-small-bold,
button,
.btn {
  font-size: 12px;
}

.small-info {
  font-size: 9px;
}
