

$white: #fff;
$black: #000;
$dark-gray: #20222b;
$gray: #c4c7d3;
$blue: #4250e4;
$blue-dark: #3b49e0;
$secondary: #fd8b2a;

$bg: #0d0f19;
$bg-shadow: #151720;

$green: #35e0ad;
$red: #eb5757;
$purple: #9669ed;
$warning: $secondary;

$m: 16px;
