@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/utilities";

$white: #fff;
$black: #000;
$dark-gray: #20222b;
$gray: #c4c7d3;
$ligth-gray: #434758;
$blue: #4250e4;
$blue-dark: #3b49e0;
$purple: #9669ed;
$success: #35e0ad;
$danger: #eb5757;
$secondary: $purple;
$warning: #fd8b2a;
$orange: #EE9240;
$info: #87C7EC;

$bg: #0d0f19;
$bg-opac: rgba($white, 0.1);
$bg-shadow: #151720;
$bg-blue-shadow: #1825AD;
$toast-font-size: 1rem;
$m: 16px;

$more-bg: (
        'white-50': $gray,
        'shadow': $bg-shadow,
        'opac': $bg-opac,
        'purple': $purple,
        'blue': $blue,
        'orange': $orange,
        'success': $success
);

$more-colors: ('blue-dark': $blue-dark, 'dark-gray': $dark-gray, 'ligth-gray': $ligth-gray, 'black': $black);

$utilities: map-merge(
  $utilities, (
                'shadow': map-merge(map-get($utilities, 'shadow'), (state: hover)),
                'border': map-merge(map-get($utilities, 'border'), (state: hover)),
                'border-bottom': map-merge(map-get($utilities, 'border-bottom'), (state: hover)),
                'border-top': map-merge(map-get($utilities, 'border-top'), (state: hover)),
                'border-color': map-merge(map-get($utilities, 'border-color'), (state: hover, values: map-merge(map-get(map-get($utilities, 'background-color'), 'values'), $more-colors))),
                'color': map-merge(map-get($utilities, 'color'), (state: hover , values: map-merge(map-get(map-get($utilities, 'background-color'), 'values'), $more-colors))),
                'background-color': map-merge(map-get($utilities, 'background-color'), (state: hover, values: map-merge(map-get(map-get($utilities, 'background-color'), 'values'), $more-bg)))
        )
)

