@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/utilities";

$white: #fff;
$black: #000;
$dark-gray: #20222b;
$gray: #c4c7d3;
$blue: #4250e4;
$blue-dark: #3b49e0;
$purple: #9669ed;
$success: #35e0ad;
$red: #eb5757;
$secondary: $purple;
$warning: #fd8b2a;

$blue-info: #87C7EC;

$bg: #0d0f19;
$bg-shadow: #151720;
$bg-blue-shadow: #1825AD;

$toast-font-size: 1rem;
$m: 16px;

$utilities: map-merge(
  $utilities, (
                'shadow': map-merge(map-get($utilities, 'shadow'), (state: hover)),
                'border-bottom': map-merge(map-get($utilities, 'border-bottom'), (state: hover)),
                'border-top': map-merge(map-get($utilities, 'border-top'), (state: hover)),
                'border-color': map-merge(map-get($utilities, 'border-color'), (state: hover)),
                'color': map-merge(map-get($utilities, 'color'), (state: hover)),
                'background-color': map-merge(map-get($utilities, 'background-color'), (state: hover))
        )
)

