$small-icon: 10px;
$only-child: 18px;

.btn + .btn { margin-left: 8px; }

button.btn,a.btn {

  i {
    &:not(:only-child) {
      width: $small-icon;
      height: $small-icon;
    }
    &:only-child {
      width: $only-child;
      height: $only-child;
    }
  }

  svg {
    &:not(:only-child) {
      &:not(:last-child) {
        margin-right: 8px;
      }
      &:last-child {
        margin-left: 8px;
      }
      width: $small-icon;
      height: $small-icon;
    }

    &:only-child {
      width: $only-child;
      height: $only-child;
    }
  }
}
