$small-icon: 14px;
$only-child: 14px;

.btn + .btn { margin-left: 8px; }

.btn-outline {
  &-purple {
    &:hover {
      color: $white;
      background-color: rgba($purple, .1);
    }
  }
}

.btn-primary {
  background-color: var(--bs-primary);
  border-color: var(--bs-primary);

  &:hover {
    background-color: var(--bs-primary);
    border-color: var(--bs-primary);
    filter: brightness(0.85);
  }

  &:disabled, &:focus {
    background-color: var(--bs-primary);
    border-color: var(--bs-primary);
  }
}

button.btn,a.btn:not(.brand), .main-nav-link:not(.brand) {
  svg,i {
    &:not(:only-child) {
      &:not(:last-child) {
        margin-right: 8px;
      }
      &:last-child {
        margin-left: 8px;
      }
      width: $small-icon;
      height: $small-icon;
      margin-top: -2px;
      margin-bottom: -2px;
    }

    &:only-child {
      width: $only-child;
      height: $only-child;
    }
  }
}
