@import "variables";

.form-check {
  [type=radio],[type=radio] {
    &:hover {
      border-color: var(--bs-primary);
      cursor: pointer;
      + label {
        color: $white;
      }
    }

    &:checked + label {
      color: var(--bs-primary);
    }
    + label { cursor: pointer }
  }

  &-input:checked {
    background-color: var(--bs-primary);
    border-color: var(--bs-primary);
  }
}
