@import "variables";

.form-check {
  [type=radio],[type=radio] {
    &:hover {
      border-color: $primary;
      cursor: pointer;
      + label {
        color: $white;
      }
    }

    &:checked + label {
      color: $primary;
    }
    + label { cursor: pointer }
  }
}
